body{
    font-family: Arial, Helvetica, sans-serif;
}
#form-temp {
    display: flex;
}
.pract-14 {
    color: red;
    text-align: center;
    font-size: 72px;
}

form{
    box-sizing: border-box;
    width: 300px;
    height: 400px;
    margin: 80px auto 0;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.header h1 {
    font-size: 32px;
    text-align: center;
}
.header {
    background: linear-gradient(to right, rgb(255, 169, 9), red);
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#form1 .header a{
    color: white;
    display: inline-block;
}
#form1 input {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 250px;
    border: none;
    border-bottom: 1px solid grey;
}
#form1 a{
    margin-top: 10px;
    margin-right: 8px;
    display: block;
    text-align: right;
    text-decoration: none;
    color: #ad9d9d;
}
.btn{
    display:flex;
}
.btn a {
    display: inline-block;
    color: aqua;
}
.btn p {
    font-size: 14px;
}
#form1 button{
    background-color: rgb(255, 136, 0);
    color: white;
    padding: 4px;
    margin-left: 15px;
    margin-right: 40px;
    border-radius: 28px;
}

