body{
    font-family: Arial, Helvetica, sans-serif;
}
#form-temp {
    display: flex;
}
.pract-14 {
    color: red;
    text-align: center;
    font-size: 72px;
}

form{
    box-sizing: border-box;
    width: 300px;
    height: 400px;
    margin: 80px auto 0;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.header h1 {
    font-size: 32px;
    text-align: center;
}
.header {
    background: linear-gradient(to right, rgb(255, 169, 9), red);
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#form1 .header a{
    color: white;
    display: inline-block;
}
#form1 input {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 250px;
    border: none;
    border-bottom: 1px solid grey;
}
#form1 a{
    margin-top: 10px;
    margin-right: 8px;
    display: block;
    text-align: right;
    text-decoration: none;
    color: #ad9d9d;
}
.btn{
    display:flex;
}
.btn a {
    display: inline-block;
    color: aqua;
}
.btn p {
    font-size: 14px;
}
#form1 button{
    background-color: rgb(255, 136, 0);
    color: white;
    padding: 4px;
    margin-left: 15px;
    margin-right: 40px;
    border-radius: 28px;
    
}

#form2 h1 {
    text-align: center;
    color: rgb(212, 11, 11);
}
#form2 input {
    border: none;
    border-bottom: 1px solid grey;
    border-top: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 250px;
}
.upper-from2-input {
    margin-top: 30px;
}
.bottom {
    background-color: grey;
    height: 67px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.bottom a {
    color: white;
    display: inline-block;
    padding: 8px;
    text-align: center;
}

#form3 h1{
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
    color:red;
}
#form3 .input {
    margin-top:30px;
    margin-bottom:40px;
    margin-left:20px;
}
#form3 .input input{
    border:none;
    border-bottom:solid 1px grey;
    margin-top:30px;
    width:250px;
}
#form3 .input a {
    margin-top:5px;
    color:blue;
    text-decoration:none;
}
#form3 button{
    width:250px;
    margin-left:25px;
    background:linear-gradient(to right, rgb(165, 188, 223), rgb(11, 100, 233));
    color:white;
    border-radius:12px;
    padding:10px
  }
#form3 .social{
    text-align:center;
    margin-bottom:20px;
}
#form3 .social a{
    font-size:20px;
    display: inline-block;
    width: 70px;
    /* margin-left:20px; */
    color: rgb(91, 158, 212);
    box-sizing: border-box;
    padding: 10px 15px;
    box-shadow: 2px 2px 5px 1px rgba(74, 161, 233, 0.2);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
