body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    height: 300px;
    width: 500px;
    border: 10px solid #9269b1;
    margin: 50px auto;
    background-color: green;
}

h1 {
    text-align: center;
    color: white;
}

#number {
    height: 25px;
    width: 250px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;
    text-align: center;
    background-color: white;
}

#increment {
    height: 25px;
    width: 100px;
    margin-top: 50px;
    margin-left: 125px;
}

#decrement {
    height: 25px;
    width: 100px;
    margin-top: 50px;
    margin-left: 50px;
}