tr,td,th {
    border-bottom: 2px solid rgb(156, 149, 149);
    /* border-spacing: 0; */
    padding: 10px;
    font-size: 20px;
}


table {
    border: 2px solid black;
    width: 80%;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;

}
tr {
    border-left: 2px solid black;
}
th {
    font-weight: bold;
    
    font-size: 24px;
}
#topic {
    text-align: center;
    background-color: rgb(15, 15, 49);
    color: white;
    font-size: 30px;
}
.pending {
    color: red;
}
.delivered {
    color:green
}
.bin {
    margin-left: 15px;
    display: inline-block;
}
tr:hover{
    background-color:#f6f6f6;
}
td a {
    text-decoration: none;
    color: black;
}
td a:hover {
    text-decoration: none;
    color: blue;;
}

.delete:hover {
    color: red;
}
.edit:hover {
    color: blue;
}

