.nav-link {
    font-size: 30px;
}

.nav-brand {
    font-size: 40px;
    color: white;
    margin-right: 40px;
}

.content {
    margin: 5%;
}

.image-404 {
    height: 80vh;
    display: block;
    margin: -5% auto;
}

p {
    text-align: justify;
}